<div class="recent-ticket table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>
            Assignee
          </th>
          <th>
            Subject
          </th>
          <th>
            Status
          </th>
          <th>
            Last Update
          </th>
          <th>
            Tracking ID
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets">
          <td> <img src="assets/images/faces/{{ticket.avatar}}" class="mr-2" alt="image">
            {{ticket.assignee}}</td>
          <td>{{ticket.subject}}</td>
          <td><label class="badge badge-gradient-{{ticket.statusColor()}}">{{ticket.status}}</label></td>
          <td>{{ticket.lastUpdate | date }}</td>
          <td>{{ticket.ticketId}}</td>
        </tr>
      </tbody>
    </table>
</div>
